@(stripePublicKey: String, gaTrackingCode: Option[String])

@main("Subscribe", gaTrackingCode) {
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1 class="text-center">Subscribe to Tailored</h1>
    </div>
  </div>
  <hr>
  <form action="/subscribe" method="post">
    <div class="col-sm-8 col-sm-offset-2">
      <p>All fields are required unless otherwise stated.</p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">About You</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Preferred Name</label>
            <input class="form-control" name="name" type="text" placeholder="Bruce">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Details</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Email Address</label>
            <input class="form-control" name="email" type="email" placeholder="bruce@@wayneenterprises.com">
          </div>
          <div class="form-group">
            <label class="control-label">Mobile Number (so we can text you if we need to) (optional)</label>
            <input class="form-control" name="sms-number" type="text" placeholder="111-555-0000">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Shipping Address</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Full Name</label>
            <input class="form-control" name="address-name" type="text" placeholder="Bruce Wayne">
          </div>
          <div class="form-group">
            <label class="control-label">Address Line 1</label>
            <input class="form-control" name="address-line-1" type="text" placeholder="1076 Alaska Hwy">
          </div>
          <div class="form-group">
            <label class="control-label">Address Line 2 (optional)</label>
            <input class="form-control" name="address-line-2" type="text">
          </div>
          <div class="form-group">
            <label class="control-label">City</label>
            <input class="form-control" name="address-city" type="text" placeholder="Gotham City">
          </div>
          <div class="form-group">
            <label class="control-label">Province</label>
            <select class="form-control" name="address-province">
              <option value="AB">Alberta</option>
              <option value="BC" selected="selected">British Columbia</option>
              <option value="MA">Manitoba</option>
              <option value="NB">New Brunswick</option>
              <option value="NL">Newfoundland & Labrador</option>
              <option value="NT">North West Territories</option>
              <option value="NS">Nova Scotia</option>
              <option value="NU">Nunavut</option>
              <option value="ON">Ontario</option>
              <option value="PE">Prince Edward Island</option>
              <option value="QC">Quebec</option>
              <option value="SK">Saskatchewan</option>
              <option value="YT">Yukon</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Postal Code</label>
            <input class="form-control" name="address-postal-code" type="text" placeholder="V9X 9X9">
          </div>
          <div class="form-group">
            <label class="control-label">Country</label>
            <select class="form-control" name="address-country">
              <option value="CA" selected="selected">Canada</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Billing Details</h3>
        </div>
        <div class="panel-body">
          <p class="text-center">Provide your payment information to complete your purchase.</p>
          <div class="form-group text-center">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@stripePublicKey"
                data-name="Tailored Subscription"
                data-description="Bimonthly Subscription"
                data-amount="24900"
                data-currency="cad"
                data-locale="en"
                data-allow-remember-me="false"
                data-panel-label="Subscribe for {amount}">
            </script>
          </div>
          <p class="text-center"><em><nobr>Payment information is</nobr> collected and processed <nobr>securely with <a href="https://stripe.com/" target="_blank">Stripe&trade;</a>.</nobr></em></p>
        </div>
      </div>
    </div>

  </form>
}
